<div class="featured-product">
	<div class="product-info">
		<h2 class="info-title">Be nice to earth</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus est consectetur, ullamcorper elit vel, iaculis diam. In rhoncus rhoncus enim, at dapibus ipsum dictum non. Nam eget sem quam. Praesent placerat tempus consequat. Phasellus rutrum, dolor eget gravida ullamcorper, enim felis sollicitudin neque, eu posuere ligula purus at mauris. Nulla posuere est id orci cursus, nec aliquam nisi vestibulum. Sed id placerat eros, non porttitor augue.
		</p>
		<p>
			Ut vehicula feugiat nibh, vel congue nunc eleifend at. Duis tincidunt consequat nisl. Mauris quis ante nec velit vulputate sollicitudin a quis augue. Sed ut est lectus. Morbi at gravida turpis, quis lacinia odio. Integer viverra sit amet est id venenatis. Suspendisse tristique imperdiet risus, vel interdum mi finibus vitae. Integer at augue eget risus convallis aliquam.
		</p>
		<div class="margin-top-3 align-center">
			<button mat-raised-button color="primary" routerLink="/products">SHOP NOW</button>
		</div>
	</div>
	<div class="product-banner">
		<img src="assets/images/featured.png">
	</div>
</div>
