<div class="featured-product hidden-xs">
	<div class="product-info">
		<h2 class="info-title">Be nice to earth</h2>
		<p>
			eco-eco Stationery aspires to lead the way in making environmentally friendly stationery products the norm rather than the exception, all while taking care of customer needs and our planet. That's why eco-eco Stationery have made a pledge called the eco-eco Promise, allowing customers to buy with confidence. When you choose an eco-eco product, you're choosing an affordable product which has been responsibly and ecologically sourced.
		</p>
		<p>
			All eco-eco products are made from a minimum of 50% recycled content which is mixed with new materials from environmentally responsible sources where required. The limited packaging and the final products themselves are also 100% recyclable. eco-eco Products are always acid free and lignin free.
		</p>
		<div class="margin-top-3 align-center">
			<button mat-raised-button color="primary" routerLink="/products">SHOP NOW</button>
		</div>
	</div>
	<div class="product-banner">
		<img src="assets/images/featured.png">
	</div>
</div>
