@import "src/theme";

.product-container {
	padding: 2em 3em 3em;

	.product-details {
		display: flex;

		.product-img {
			img {
				max-width: 400px;
			}
		}

		.product-thumbnails {
			display: grid;
			gap: 1em;
			grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));

			.thumbnail {
				padding: 10px;
				background: $tint;
				display: flex;
				justify-content: center;
				align-items: center;

				img {
					max-width: 90px;
					max-height: 90px;
				}
			}
		}

		.product-name {
			font-weight: 500;
			padding-top: 2em;
		}

		.product-category {
			font-weight: 300;
		}

		.manufacturer {
			color: $primary;
			font-weight: 400;
		}

		.product-price {
			font-weight: 700;
		}

		.delivery-info {
			display: flex;
			align-items: center;
			font-size: 15px;

			mat-icon {
				margin-right: 0.5em;
			}
		}

		mat-form-field {
			width: 100%;
		}

		.add-to-cart-btn {
			width: 100%;
		}
	}

	.product-specs {
		margin-top: 3em;
		padding: 3em 3em 5em;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 6em;
		font-size: 15px;

		table {
			width: 100%;

			td {
				padding: 1em;

				&:first-child {
					padding-left: 0;
				}
			}
		}

		.product-information {

		}

		.product-dimensions {

		}

		.delivery-info {

		}
	}

	.reviews-and-ratings {
		padding: 3em;

		.columns {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 7em;

			.ratings {
				font-size: 17px;
				.average-rating {
					display: flex;
					align-items: center;
					mat-icon {
						color: $primary;
						font-size: 40px;
						margin-right: 0.5em;
					}

					h1 {
						padding-top: 1.4em;
						font-size: 27px;
						margin-left: 0.7em;
					}
				}

				.ratings-chart {
					margin-top: 3em;

					.rating-bar {
						display: flex;
						align-items: center;
						margin-bottom: 1.5em;
						font-size: 16px;

						.bar {
							background: lightgray;
							flex: 1 1 auto;
							margin: 0 1em;

							.bar-val {
								height: 36px;
								background: $primary;
							}
						}
					}
				}
			}

			.reviews {

				.review {
					font-size: 17px;
					padding: 2em 0;
					border-bottom: 1px solid lightgray;

					&:first-child {
						padding-top: 0;
					}

					.review-header {
						display: flex;
						justify-content: space-between;
						align-items: center;

						.name {
							margin: 0;
						}
					}

					.rating {

						mat-icon {
							color: $primary;
						}
					}
				}
			}
		}
	}
}
