<div class="margin-top-3" *ngIf="loadingProductData">
	<mat-spinner class="loader" diameter="40"></mat-spinner>
</div>

<div class="product-container" [hidden]="loadingProductData">
	<div class="nav-crumbs">
		<span class="crumb"><a routerLink="/">Home</a></span>
		<span class="crumb"><a routerLink="/products">Products</a></span>
		<span class="crumb"><a routerLink="/products/{{product?.category_name}}">{{product?.category_name}}</a></span>
		<span class="crumb">{{product?.product_name}}</span>
	</div>

	<div class="product-details margin-top-4">
		<div style="margin-right: 6em">
			<div class="product-img">
				<img [src]="product?.images.length == 0 ? 'assets/images/default_product.png' : product?.images[largeProductImageIndex]">
			</div>
			<div class="product-thumbnails margin-top-2" *ngIf="product?.images.length > 1">
				<div class="thumbnail clickable" *ngFor="let image of product?.images; let index = index;" [ngClass]="{selected: largeProductImageIndex == index}" (click)="largeProductImageIndex = index">
					<img [src]="image">
				</div>
			</div>
		</div>
		<div>
			<h1 class="product-name">{{product?.product_name}}</h1>
			<h3 class="product-category">{{product?.category_name}}</h3>
			<h3 class="manufacturer">{{product?.manufacturer}}</h3>
			<h1 class="product-price">
				<div class="product-price">
					<div class="price" [ngClass]="{discounted: product?.discount > 0}">{{product?.price | currency:'ZAR':'symbol-narrow'}}</div>
					<div class="price" *ngIf="product?.discount > 0">{{product?.price | discountedPrice:product?.discount | currency:'ZAR':'symbol-narrow'}} <span style="font-size: 13px; font-weight: normal">({{product?.discount | number}}% OFF)</span></div>
				</div>
			</h1>
			<div class="delivery-info">
				<mat-icon>local_shipping</mat-icon>
				<span>{{product?.shipping[0].cost == 0 ? 'FREE' : product?.shipping[0].cost | currency:'ZAR':'symbol-narrow'}} delivery nationwide</span>
			</div>

			<div class="margin-top-2" *ngIf="productProperties.others.length > 0">
				<mat-form-field appearance="fill" *ngFor="let property of productProperties.others">
					<mat-label>{{property?.property_name}}</mat-label>
					<mat-select #prop [value]="property?.values[0]" (selectionChange)="updateProductProperty(property?.property_name, $event)">
						<mat-option *ngFor="let value of property?.values" [value]="value">{{value}}</mat-option>
					</mat-select>
				</mat-form-field>
			</div>

			<div class="margin-top-1" [formGroup]="quantityForm">
				<mat-form-field appearance="fill">
					<mat-label>Quantity</mat-label>
					<input type="number" min="0" matInput formControlName="quantity">
				</mat-form-field>
			</div>
			<div class="margin-top-2">
				<button [disabled]="product?.stock < 1 || quantityForm.invalid" class="add-to-cart-btn" mat-raised-button color="primary" (click)="addToCart()">
					<span *ngIf="product?.stock > 1">ADD TO CART</span>
					<span *ngIf="product?.stock < 1">OUT OF STOCK</span>
				</button>
			</div>
		</div>
	</div>

	<mat-card class="product-specs">
		<div class="product-information">
			<h1>Product Details</h1>
			<div class="margin-top-2" [innerHTML]="product?.description | nl2br"></div>
		</div>
		<div class="product-dimensions" *ngIf="productProperties?.dimensions.length > 0">
			<h1>Product Dimensions</h1>
			<table>
				<tr *ngFor="let dimension of productProperties?.dimensions">
					<td>{{dimension?.property_name}}</td>
					<td>{{dimension?.value}}</td>
				</tr>
			</table>
		</div>
		<div class="delivery-info">
			<h1>Delivery & Returns</h1>
			<table>
				<tr *ngFor="let shipping of product?.shipping">
					<td>{{shipping?.category_name}}</td>
					<td>
						<div>{{shipping?.description}}</div>
						<div *ngIf="shipping?.conditions">({{shipping?.conditions}})</div>
					</td>
					<td>{{shipping?.cost == 0 ? 'FREE' : shipping?.cost | currency:'ZAR':'symbol-narrow'}}</td>
				</tr>
			</table>
		</div>
	</mat-card>

	<mat-card class="reviews-and-ratings margin-top-4">
		<h1>Ratings & Reviews</h1>
		<div class="columns">
			<div class="ratings">
				<div class="average-rating">
					<mat-icon *ngFor="let i of [1,2,3]">star</mat-icon>
					<mat-icon *ngFor="let i of [1,2]">star_outline</mat-icon>
					<h1>3.1</h1>
				</div>
				<div class="review-count">2,764 Reviews</div>

				<div class="ratings-chart">
					<div class="rating-bar">
						<div class="rating-label">5 Stars</div>
						<div class="bar">
							<div class="bar-val" style="width: 50%"></div>
						</div>
						<div class="rating-val">26.7%</div>
					</div>
					<div class="rating-bar">
						<div class="rating-label" >4 Stars</div>
						<div class="bar">
							<div class="bar-val" style="width: 25%"></div>
						</div>
						<div class="rating-val">26.7%</div>
					</div>
					<div class="rating-bar">
						<div class="rating-label">3 Stars</div>
						<div class="bar">
							<div class="bar-val" style="width: 15%"></div>
						</div>
						<div class="rating-val">26.7%</div>
					</div>
					<div class="rating-bar">
						<div class="rating-label">2 Stars</div>
						<div class="bar">
							<div class="bar-val" style="width: 7%"></div>
						</div>
						<div class="rating-val">26.7%</div>
					</div>
					<div class="rating-bar">
						<div class="rating-label">1 Star &nbsp;</div>
						<div class="bar">
							<div class="bar-val" style="width: 3%"></div>
						</div>
						<div class="rating-val">26.7%</div>
					</div>
				</div>
			</div>
			<div class="reviews">
				<div class="review" *ngFor="let i of [1,2,3,4]">
					<div class="review-header">
						<h2 class="name">John Doe</h2>
						<div class="date">20/07/2021</div>
					</div>
					<div class="rating margin-top-half">
						<mat-icon>start</mat-icon>
						<mat-icon>start</mat-icon>
						<mat-icon>start</mat-icon>
					</div>
					<div class="review-text margin-top-half">
						Ut vehicula feugiat nibh, vel congue nunc eleifend at. Duis tincidunt consequat nisl. Mauris quis ante nec velit vulputate sollicitudin a quis augue. Sed ut est lectus. Morbi at gravida turpis, quis lacinia odio. Integer viverra sit amet est id venenatis. Suspendisse tristique imperdiet risus, vel interdum mi finibus vitae. Integer at augue eget risus convallis aliquam.
					</div>
				</div>
			</div>
		</div>
	</mat-card>
</div>

