@import "src/theme", "src/media";

.product-container {
	padding: 2em 3em 3em;

	@include phone {
		padding: 1.5em;
	}

	.product-details {
		display: flex;

		@include phone {
			display: grid;
			gap: 2em;
		}

		.prod-images {
			margin-right: 6em;

			@include phone {
				margin: 0;
				flex: 1;
			}
		}

		.product-img {
			img {
				max-width: 400px;

				@include phone {
					max-width: 100%;
				}
			}
		}

		.prod-info {
			@include phone {
				flex: 1;
			}
		}

		.product-thumbnails {
			display: grid;
			gap: 1em;
			grid-template-columns: repeat(auto-fill, minmax(65px, 1fr));

			.thumbnail {
				padding: 10px;
				display: flex;
				justify-content: center;
				align-items: center;
				box-shadow: 0 0 2px;
				border-radius: 5px;

				&.selected {
					box-shadow: 0 0 10px;
				}

				img {
					max-width: 55px;
					max-height: 55px;
				}
			}
		}

		.product-name {
			font-weight: 500;
		}

		.product-category {
			font-weight: 300;
		}

		.manufacturer {
			color: $primary;
			font-weight: 400;
		}

		.product-price {
			font-weight: 500;
			display: flex;

			.price {
				margin-right: 1em;

				&.discounted {
					text-decoration: line-through;
					font-weight: 300;
				}
			}
		}

		.delivery-info {
			display: flex;
			align-items: center;
			font-size: 15px;

			mat-icon {
				margin-right: 0.5em;
			}
		}

		mat-form-field {
			width: 100%;
		}

		.add-to-cart-btn {
			width: 100%;
		}
	}

	.product-specs {
		margin-top: 4em;
		padding: 3em 3em 5em;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 4em;
		font-size: 15px;

		@include phone {
			grid-template-columns: 1fr;
			padding: 1.5em;
		}

		table {
			width: 100%;

			td {
				padding: 1em;

				&:first-child {
					padding-left: 0;
				}
			}
		}

		.product-information {

		}

		.product-dimensions {

		}

		.delivery-info {
			td {
				vertical-align: top;
			}
		}
	}

	.reviews-and-ratings {
		padding: 3em;

		@include phone {
			padding: 1.5em;
		}

		.columns {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 7em;

			@include phone {
				grid-template-columns: 1fr;
			}

			.ratings {
				font-size: 17px;
				.average-rating {
					display: flex;
					align-items: center;
					mat-icon {
						color: $primary;
						font-size: 40px;
						margin-right: 0.5em;
					}

					h1 {
						padding-top: 1.4em;
						font-size: 27px;
						margin-left: 0.7em;
					}
				}

				.ratings-chart {
					margin-top: 3em;

					.rating-bar {
						display: flex;
						align-items: center;
						margin-bottom: 1.5em;
						font-size: 16px;

						.bar {
							background: lightgray;
							flex: 1 1 auto;
							margin: 0 1em;

							.bar-val {
								height: 36px;
								background: $primary;
							}
						}
					}
				}
			}

			.reviews {

				.review {
					font-size: 15px;
					padding: 2em 0;
					border-bottom: 1px solid lightgray;

					&:first-child {
						padding-top: 0;
					}

					.review-header {
						display: flex;
						justify-content: space-between;
						align-items: center;

						.name {
							margin: 0;
							font-weight: bold;
						}
					}

					.rating {

						mat-icon {
							color: $primary;
						}
					}
				}
			}
		}
	}
}
