.container {
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	mat-icon {
		font-size: 80px;
		margin-right: .6em;
		margin-bottom: 1em;
		color: green;
	}
}
