<div class="nav-bar">
	<div>
		<a href="/"><img class="logo" src="assets/images/logo.png" routerLink="/"></a>
	</div>
	<div class="search-bar">
		<div class="search-controls">
			<input type="text" class="search-input" placeholder="Search">
			<button class="search-btn">Search</button>
		</div>
	</div>
	<div class="top-nav-icons">
		<button mat-icon-button routerLink="/login">
			<mat-icon>person</mat-icon>
		</button>
		<button mat-icon-button (click)="cartNav.toggle()">
			<mat-icon [matBadge]="cartService.getItemCount() == 0 ? '' : cartService.getItemCount()" matBadgeColor="warn">shopping_cart</mat-icon>
		</button>
	</div>
</div>
<mat-toolbar class="main-toolbar">
	<div>
		<a class="main-menu-control clickable" (click)="categoriesNav.toggle()">
			<mat-icon>menu</mat-icon>
			<span style="font-size: 14px">All Categories</span>
		</a>
	</div>
	<div style="flex: 1 1 100%"></div>
	<div class="top-navs">
		<a href="#">
			<mat-icon>location_on</mat-icon>
			<div>Find a store</div>
		</a>
		<a href="#">
			<mat-icon>contact_support</mat-icon>
			<div>Customer service</div>
		</a>
	</div>
</mat-toolbar>




<mat-sidenav-container>
	<mat-sidenav #categoriesNav class="categories-sidenav" mode="over" [opened]="false">
		<div class="margin-top-3" *ngIf="loadingProductCategories">
			<mat-spinner diameter="30" class="loader"></mat-spinner>
		</div>
		<div *ngIf="!loadingProductCategories">
			<a routerLink="/products" (click)="categoriesNav.close();">All Products</a>
			<a routerLink="/products/{{category?.category_name}}" *ngFor="let category of productCategories" (click)="categoriesNav.close()">
				{{category?.category_name}}
			</a>
		</div>
	</mat-sidenav>
	<mat-sidenav #cartNav class="cart-sidenav" mode="over" position="end" [opened]="false" (openedStart)="cart.getItemsData()">
		<app-cart #cart (onNav)="cartNav.close()"></app-cart>
	</mat-sidenav>

	<mat-sidenav-content>
		<div class="route-content">
			<router-outlet></router-outlet>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>



<div class="footer">
	<div class="footer-column footer-about">
		<h2>ABOUT US</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et nulla consectetur, pellentesque lorem eget, tincidunt augue.
			Ut sit amet libero tortor. Aenean faucibus suscipit dui sed accumsan. Duis mollis laoreet auctor.
			Etiam ipsum orci, auctor vel molestie aliquam, sollicitudin vel nunc.
		</p>
		<a href="#">Find out more</a>
	</div>
	<div class="footer-column footer-links">
		<ul>
			<li><a href="#">Customer Service</a></li>
			<li><a href="#">F.A.Q</a></li>
			<li><a href="#">Return Policy</a></li>
			<li><a href="#">Terms & Conditions</a></li>
			<li><a href="#">Privacy Policy</a></li>
			<li><a href="#">Cookie Policy</a></li>
		</ul>
	</div>
	<div class="footer-column footer-payments">
		<h2>WE ACCEPT</h2>
		<div class="payment-icons"><img src="assets/images/payments.png"></div>
		<h2 style="margin-top: 1em; margin-bottom: 0.6em">STAY CONNECTED</h2>
		<div class="social-icons">
			<img src="assets/images/facebook.png">
			<img src="assets/images/twitter.png">
			<img src="assets/images/instagram.png">
		</div>
	</div>
	<div class="footer-column footer-copyright">
		<div>&copy; 2021 BlackBox Supplies</div>
		<div class="margin-top-half">All rights reserved</div>
	</div>
</div>

