<div class="nav-bar">
	<div class="flex items-center">
		<a class="main-menu-control clickable visible-xs" (click)="categoriesNav.toggle()" style="margin-right: .5em">
			<mat-icon>menu</mat-icon>
		</a>
		<a href="/"><img class="logo" src="assets/images/logo.png" routerLink="/"></a>
	</div>
	<div class="visible-xs" style="flex: 1 1 auto"></div>
	<div class="search-bar hidden-xs">
		<form [formGroup]="searchForm" (submit)="search()">
			<div class="search-controls">
				<input type="text" class="search-input" placeholder="Search" formControlName="query">
				<button type="submit" class="search-btn">Search</button>
			</div>
		</form>
	</div>
	<div class="top-nav-icons">
		<div class="session-user clickable" *ngIf="userService.loggedIn" [matMenuTriggerFor]="userMenu">
			{{userService.getUserAbbr()}}
		</div>
		<button mat-icon-button routerLink="/login" style="margin-right: 1em" *ngIf="!userService.loggedIn">
			<mat-icon>person</mat-icon>
		</button>

		<mat-menu #userMenu>
			<!--
			<button mat-menu-item>
				<mat-icon>manage_accounts</mat-icon>
				<span>My Account</span>
			</button>
			<button mat-menu-item>
				<mat-icon>local_shipping</mat-icon>
				<span>My Addresses</span>
			</button>
			-->
			<button mat-menu-item routerLink="/account/orders">
				<mat-icon>receipt</mat-icon>
				<span>My Orders</span>
			</button>
			<button mat-menu-item routerLink="logout">
				<mat-icon>logout</mat-icon>
				<span>Sign Out</span>
			</button>
		</mat-menu>

		<button mat-icon-button (click)="cartNav.toggle()">
			<mat-icon [matBadge]="cartService.getItemCount() == 0 ? '' : cartService.getItemCount()" matBadgeColor="warn">shopping_cart</mat-icon>
		</button>
	</div>
</div>
<mat-toolbar class="main-toolbar">
	<div class="search-bar visible-xs">
		<form [formGroup]="searchForm" (submit)="search()">
			<div class="search-controls">
				<input type="text" class="search-input" placeholder="Search" formControlName="query">
				<button type="submit" class="search-btn">Search</button>
			</div>
		</form>
	</div>
	<div class="hidden-xs">
		<a class="main-menu-control clickable" (click)="categoriesNav.toggle()">
			<mat-icon>menu</mat-icon>
			<span style="font-size: 14px">All Categories</span>
		</a>
	</div>
	<div style="flex: 1 1 100%" class="hidden-xs"></div>
	<div class="top-navs hidden-xs">
		<a routerLink="/pages/locations">
			<mat-icon>location_on</mat-icon>
			<div>Find a store</div>
		</a>
		<a routerLink="/pages/customer-service">
			<mat-icon>contact_support</mat-icon>
			<div>Customer service</div>
		</a>
	</div>
</mat-toolbar>




<mat-sidenav-container>
	<mat-sidenav #categoriesNav class="categories-sidenav" mode="over" [opened]="false">
		<div class="margin-top-3" *ngIf="loadingProductCategories">
			<mat-spinner diameter="30" class="loader"></mat-spinner>
		</div>
		<div *ngIf="!loadingProductCategories">
			<a routerLink="/products" (click)="categoriesNav.close();">All Products</a>
			<a routerLink="/products/{{category?.category_name}}" *ngFor="let category of productCategories" (click)="categoriesNav.close()">
				{{category?.category_name}}
			</a>
		</div>
	</mat-sidenav>
	<mat-sidenav #cartNav class="cart-sidenav" mode="over" position="end" [opened]="false" (openedStart)="cart.getItemsData()">
		<app-cart #cart (onNav)="cartNav.close()"></app-cart>
	</mat-sidenav>

	<mat-sidenav-content>
		<div class="route-content">
			<router-outlet></router-outlet>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>



<div class="footer">
	<div class="footer-column footer-about hidden-xs">
		<h2>ABOUT US</h2>
		<p>
			BlackBox Supplies was established in 2017 and employs staff that possess key
			knowledge and strength. Our business is dedicated to the marketing of stationery,
			books and office automation & digital copiers (both black &white and colour),
			network ready multifunctional products and network laser printers as a range of imaging products.
		</p>
		<a href="/pages/about">Find out more</a>
	</div>
	<div class="footer-column footer-links">
		<ul>
			<li><a routerLink="/pages/customer-service">Customer Service</a></li>
			<li><a routerLink="/pages/faq">F.A.Q</a></li>
			<li><a routerLink="/pages/return-policy">Return Policy</a></li>
			<li><a routerLink="/pages/terms">Terms & Conditions</a></li>
			<li><a routerLink="/pages/privacy-policy">Privacy Policy</a></li>
			<li><a routerLink="/pages/cookie-policy">Cookie Policy</a></li>
		</ul>
	</div>
	<div class="footer-column footer-payments">
		<h2>WE ACCEPT</h2>
		<div class="payment-icons"><img src="assets/images/payments.png"></div>
		<h2 style="margin-top: 1em; margin-bottom: 0.6em">STAY CONNECTED</h2>
		<div class="social-icons">
			<img src="assets/images/facebook.png">
			<img src="assets/images/twitter.png">
			<img src="assets/images/instagram.png">
		</div>
	</div>
	<div class="footer-column footer-copyright">
		<div>&copy; 2021 BlackBox Supplies</div>
		<div class="margin-top-half">All rights reserved</div>
	</div>
</div>

