@import "src/media";

.container {
	padding: 3em;

	@include phone {
		padding: 1em;
	}
}
.new-arrivals {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 1em;

	@include phone {
		@include phone {
			grid-template-columns: 1fr 1fr
		}
	}

	.product {
		padding: 2em;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@include phone {
			padding: 1em;
		}

		.product-img {

			img {
				max-height: 190px;
				max-width: 150px;
			}

			@include phone {

				img {
					max-height: 150px;
					max-width: 100%;
				}
			}
		}

		.product-price {
			font-weight: 500;

			&.discounted {
				font-weight: normal;
				text-decoration: line-through;
			}
		}
	}
}
