@import "src/theme";

.products-container {
	padding: 2em;

	.no-results {
		text-align: center;
		margin-top: 5em;
		font-size: 17px;
	}

	.product-list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
		gap: 2em;

		.product {
			padding: 2em;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.product-img {

				img {
					max-width: 155px;
					max-height: 190px;
				}
			}

			.product-price {
				font-size: 16px;
				font-weight: bold;

				&.discounted {
					font-size: 14px;
					font-weight: normal;
					text-decoration: line-through;
					margin-top: .2em;
				}
			}
		}
	}
}
