/* You can add global styles to this file, and also import other style files */

@import "theme";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width {
	width: 100%;
}

* {
	box-sizing: border-box;
}

a, a[routerLink] {
	text-decoration: none;
	color: $primary;
}

.clickable {
	cursor: pointer;
}



//Alignments

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}


//Margins

.margin-top-half {
	margin-top: 0.5em;
}

.margin-top-1 {
	margin-top: 1em;
}

.margin-top-1-half {
	margin-top: 1.5em;
}

.margin-top-2 {
	margin-top: 2em;
}

.margin-top-3 {
	margin-top: 3em;
}

.margin-top-4 {
	margin-top: 4em;
}
